<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a target="_blank" href="https://www.facebook.com/ravikumar.patel.7758"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a target="_blank" href="https://www.instagram.com/ravi_kumar_0_0_0/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a target="_blank" href="https://www.linkedin.com/in/ravi-kumar001/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a target="_blank" href="https://github.com/ravi-kumar001"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
